able, tr, td, th {
    margin-top: 2.25rem;
    width: 100%;
    border-collapse: initial;
    text-align: center;
    border:#55a6ff38 solid 1px;
    width:450px;
    padding:1px;
    font-size:17px;
    border-collapse:collapse;
    padding-right: 1.75rem;
    padding-top: 1.75rem;
    padding-left: 1.75rem;
    padding-bottom: 1.75rem;
}

td{
    width:150px;
    height:30px;
    padding: 5px;
}
th{
    background-color: #55a6ff38;
    padding: 10px;
}
